{% extends "base.html" %}

{% block title %}Status{% endblock %}
{% block friends %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="{{ STATIC_URL }}image/Kungfupanda.jpg" class="img-responsive img-thumbnail" style="width:50%">
            </div>
            <div class="col-md-10">
                <p style="font-size:50px;margin-top:20px">Po</p>
            </div>
        </div>        
        <hr>
    </div>
{% endblock %}