{% extends "base.html" %}

{% block title %}Status{% endblock %}
{% block post %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method = "post" enctype = "multipart/form-data">
                {% csrf_token %}
                <textarea name="text" class="form-control" rows="5"></textarea>
                <input type="file" id="exampleInputFile" name="pic">
                <button style="float:right;margin-top:22px" type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>        
        <hr>
    </div>
{% endblock %}